<div class="fixed-btn">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"
  />
</div>

<style>
  @import "../styles/global.css";
  .fixed-btn {
    background: gray;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    @apply rounded-full shadow-lg flex justify-center items-center cursor-pointer;
  }
  img {
    @apply w-10 h-10;
  }
</style>
