<nav>
  <a href="/">Resumen</a>
  <a href="#">Itinerario</a>
  <a href="#">Herramientas</a>
  <a href="/Reviews">Opiniones/Recomendaciones</a>
</nav>

<style>
  @import "../styles/global.css";
  nav {
    @apply flex justify-center items-center gap-4 bg-gray-800 text-white p-4;
  }
  a {
    @apply text-lg font-semibold active:text-gray-500;
  }
</style>
